body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:9px;
}

game * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

background {
    background-image: url(../images/Background\ image\ 1440\ x\ 900\ V2.png);
    width: 1440px; height: 900px;
    outline: tomato 10px solid;
}

enemy2 {
    background-image: url(../images/Virus\ 2\(3\).gif);
    width:120px; height: 192px;
    cursor: pointer;
    background-size: contain;
    transition: ease-out;
}

player {
    background-image: url(../images/Main\ robot\ \(1\).png);
    width:120px; height: 184px;
    cursor: pointer;
    background-size: contain;
}

checkpoint {
    background-image: url(../images/laadpaal\ concept\(1\).png);
    width: 161px; height: 182px;
    cursor: pointer;
    background-size: contain;
}